/* Base
   ========================================================================== */

*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: rgba(85, 196, 94,0.5);
}

::selection {
  color: #fff;
  background: rgba(85, 196, 94,0.5);
}

html {
  height: 100vh;
}

body {
  height: 100%;
  overflow: hidden;

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Slabo 27px';
}

a {
  color: #fff;
  text-decoration: none;
}

abbr {
  cursor: default;
}

#page {
  height: 100%;
  overflow: auto;

  background: #222 center no-repeat;
  background-image: url(/img/cesta_h479.jpg);
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  -moz-transform:     translateX(0);
  -ms-transform:      translateX(0);
  -o-transform:       translateX(0);
  -webkit-transform:  translateX(0);
  transform:          translateX(0);

  -moz-transform:     translateZ(0) translateX(0);
  -ms-transform:      translateZ(0) translateX(0);
  -o-transform:       translateZ(0) translateX(0);
  -webkit-transform:  translateZ(0) translateX(0);
  transform:          translateZ(0) translateX(0);

  -moz-transform:     translate3d(0, 0, 0);
  -ms-transform:      translate3d(0, 0, 0);
  -o-transform:       translate3d(0, 0, 0);
  -webkit-transform:  translate3d(0, 0, 0);
  transform:          translate3d(0, 0, 0);

  -moz-transition:    300ms ease all;
  -ms-transition:     300ms ease all;
  -o-transition:      300ms ease all;
  -webkit-transition: 300ms ease all;
  transition:         300ms ease all;

  -moz-backface-visibility:     hidden;
  -ms-backface-visibility:      hidden;
  -o-backface-visibility:       hidden;
  -webkit-backface-visibility:  hidden;
  backface-visibility:          hidden;
}

@media (min-height: 480px) {
  #page {
    background-image: url(/img/cesta_h719.jpg);
  }
}

@media (min-height: 720px) {
  #page {
    background-image: url(/img/cesta_h959.jpg);
  }
}

@media (min-height: 960px) {
  #page {
    background-image: url(/img/cesta_h1079.jpg);
  }
}

@media (min-height: 1080px) and (max-height: 2159px) {
  #page {
    background-image: url(/img/cesta_h2159.jpg);
  }
}

@media (min-height: 2160px) {
  #page {
    background-image: url(/img/cesta_h2242.jpg);
  }
}

#header {
  width: 100%;
  min-height: max-content;
}

#logo img {
  width: 45px;
  margin-right: 8px;
}

#main-content-front {
  max-width: 275px;
}

#menu {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  overflow: auto;
  height: 100%;
  width: 250px;
  padding: 25px;
  background: rgba(0,0,0,0.8);

  justify-content: center;
}

#menu ul {
  list-style: none;
  padding: 10px;
}

#menu > ul {
  padding: 0;
}

#menu li {
  padding: 7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}

.img-ja {
  max-width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}

/* Sidemenu
   ========================================================================== */

.sidemenu--open #page {
  overflow: hidden;

  -moz-transform:     translateX(-249px);
  -ms-transform:      translateX(-249px);
  -o-transform:       translateX(-249px);
  -webkit-transform:  translateX(-249px);
  transform:          translateX(-249px);

  -moz-transform:     translateZ(0) translateX(-249px);
  -ms-transform:      translateZ(0) translateX(-249px);
  -o-transform:       translateZ(0) translateX(-249px);
  -webkit-transform:  translateZ(0) translateX(-249px);
  transform:          translateZ(0) translateX(-249px);

  -moz-transform:     translate3d(-249px, 0, 0);
  -ms-transform:      translate3d(-249px, 0, 0);
  -o-transform:       translate3d(-249px, 0, 0);
  -webkit-transform:  translate3d(-249px, 0, 0);
  transform:          translate3d(-249px, 0, 0);
}

#darker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;

  transition: 0.3s all ease;
}

.sidemenu--open #darker {
  visibility: visible;
  opacity: 1;
}

#menu-toogle {
  z-index: 2;
}

.sidemenu--open #menu-toogle {
  position: fixed;
  right: 10px;
}

/* Layouts
   ========================================================================== */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* DRY classes
   ========================================================================== */

.center {
  text-align: center;
}

.margin_left--auto, .margin_left-right--auto {
  margin-left: auto;
}

.margin_right--auto, .margin_left-right--auto {
  margin-right: auto;
}

.margin_top--auto, .margin_top-bottom--auto {
  margin-top: auto;
}

.margin_bottom--auto, .margin_top-bottom--auto {
  margin-bottom: auto;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-15 {
  padding: 15px;
}

.padding-25 {
  padding: 25px;
}

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-lr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.inline-block-center {
  display: inline-block;
  vertical-align: middle;
}

.h-100 {
  height: 100%;
}

/* Flexbox
   ========================================================================== */

.flex {
  display: flex;
}

.flex_align--center {
  align-items: center;
}

.flex-column {
  -webkit-box-orient:     vertical;
  -webkit-box-direction:  normal;
  -ms-flex-direction:     column;
  flex-direction:         column;
}

.flex-end {
  align-self: flex-end;
}

.flex-center {
  align-self: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

/* Media queries
   ========================================================================== */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .sm-d-flex {
    display: flex;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
